@page
@model Money_Transaction.Pages.TransferMoneyModel
@{
    ViewData["Title"] = "Transfer";

}



<main>
    <h2>Transfer Money</h2>
    <h3 class="tex-muted" style="margin-top: 1rem;">

        Balance: $<b id="balance">@Model.Sender.Balance</b></p>
        <section class="form">
            <form method="post" onsubmit="return validate()" name="transaction_form" novalidate>
                <div class="validation" id="validation" >
                </div>

                <div class="inputs">
                    <div class="input-card">
                        <div>
                            <p class="text-muted">From:</p>

                        </div>
                        <div class="customer-name sender">
                            <input type="text" name="senderId" asp-for="@Model.Transaction.SenderId" value=@Model.Sender.Id hidden>
                            <img src=@Model.Sender.ImageUrl alt="8" class="profile-img">
                            @Model.Sender.FirstName @Model.Sender.LastName
                        </div>
                    </div>

                    <div class="input-card">
                        <div>
                            <p class="text-muted">To:</p>
                        </div>
                        <div class="select-box">
                            <div class="options-container">
                                @foreach (var reciever in Model.CustomersList)
                                {
                                    <div class="option">
                                        <label asp-for=@Model.Transaction.RecieverId for="@reciever.Id" class="customer-name">
                                            <input type="radio" class="radio" name="recieverId" id="@reciever.Id" asp-for=@Model.Transaction.RecieverId
                                                   value=@reciever.Id required />

                                            <img src=@reciever.ImageUrl alt="8" class="profile-img">
                                            @reciever.FirstName @reciever.LastName
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="customer-name-dropdown">
                                <div class="selected">
                                    <p>Select Reciever</p>
                                </div>
                                <!-- <img src="./Images/down.png" class="icons down" alt=""> -->
                            </div>



                            <div class="search-box">
                                <input type="text" placeholder="search..." />
                            </div>
                        </div>
                    </div>


                </div>

                <div class="inputs">
                    <div class="money-card">
                        <p class="text-muted">You Send</p>
                        <div class="amount">
                            <label asp-for="@Model.Transaction.Amount"><h3>$</h3></label>
                            <input type="number" class="input-number" oninput="amountCalc()" id="amount" asp-for="@Model.Transaction.Amount" name="amount"
                                   placeholder="Enter the amount" required>
                        </div>
                    </div>
                    <div>
                        <img src="./Images/reload.png" class="center-img" alt="">
                    </div>
                    <div class="money-card">
                        <p class="text-muted">Recipient Gets</p>
                        <div class="amount">
                            <h3>$</h3>
                            <input type="number" class="input-number" id="recipient" readonly required>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 2.8rem;">
                    <h2>Choose Transaction Type:</h2>
                    <div class="type-input">
                        <div class="radio-buttons">
                            <label class="custom-radio" onclick="amountCalc()">
                                <input type="radio" name="type" asp-for="@Model.Transaction.Type" value="standard" checked />
                                <span class="radio-btn">
                                    <i class="las la-check"></i>
                                    <div class="hobbies-icon">
                                        <h2>Standard</h2>
                                        <h3>$0.99</h3>
                                    </div>
                                </span>
                            </label>
                            <label class="custom-radio" onclick="amountCalc()">
                                <input type="radio" name="type" asp-for="@Model.Transaction.Type" value="express" />
                                <span class="radio-btn">
                                    <i class="las la-check"></i>
                                    <div class="hobbies-icon">
                                        <h2>Express</h2>
                                        <h3>$1.50</h3>
                                    </div>
                                </span>
                            </label>
                        </div>
                        <div class="submit-button">
                            <input type="submit" class="submit">
                        </div>

                    </div>


                </div>

            </form>
        </section>
</main>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}