@page
@model Money_Transaction.Pages.CustomerModel
@{
    ViewData["Title"] = Model.customer.FirstName;

}

@using Money_Transaction.Helpers

<main class="container-profile">
    <section>
        <section class="customer-info">
            <div>
                <img src=@Model.customer.ImageUrl alt="3" class="profile-img-customer">
                <h3>@Model.customer.FirstName @Model.customer.LastName</h3>
                <b class="text-muted">@Model.customer.Email</b>
            </div>

            <div class="applied-card">
                <h2>Applied Card</h2>
                <div class="credit-card">
                    <div class="card">
                        <div>
                            <img src="./Images/Visa.png" alt="visa" class="master-card-logo">
                        </div>
                        <div class="card-numbers">
                            <p>****</p>
                            <p>****</p>
                            <p>****</p>
                            <p>6306</p>
                        </div>
                        <div class="holder">
                            <p>@Model.customer.FirstName @Model.customer.LastName</p>
                            <p>04/22</p>
                        </div>
                    </div>
                    <div class="balance">
                        <h3 class="text-muted">Balance</h3>
                        <h2>$@Model.customer.Balance</h2>
                    </div>
                </div>

            </div>

            <div>

            </div>

            <div></div>

        </section>
    </section>
    <aside>
        <section class="aside">
            <h2>@Model.customer.FirstName s' Transactions</h2>
            <section class="customer-transaction">
                <div class="customer-transaction-wrap">

                    @if (Model.AllRelatedTransactions.Count == 0)
                    {
                        <h2>No Transactions Yet</h2>
                    }

                    @foreach (var transaction in Model.AllRelatedTransactions)
                    {
                        if (transaction.SenderId == Model.customer.Id)
                        {
                            <div class="transaction-customer">
                                <div class="left">
                                    <img src="./Images/send.png" alt="transfer" class="icons">
                                    <div class="transaction-details">
                                        <h3>To @transaction.Reciever.FirstName</h3>
                                        <small class="text-muted"> Send  &bull; @transaction.Date.GetDateFormatted() </small>
                                    </div>
                                </div>
                                <b>-$@transaction.Amount</b>
                            </div>
                        }
                        else
                        {
                            <div class="transaction-customer">
                                <div class="left">
                                    <img src="./Images/recieve.png" alt="transfer" class="icons">
                                    <div class="transaction-details">
                                        <h3>From @transaction.Sender.FirstName</h3>
                                        <small class="text-muted"> Recieve  &bull; @transaction.Date.GetDateFormatted()</small>
                                    </div>
                                </div>
                                <b>+$@transaction.Amount</b>
                            </div>
                        }
                    }
                </div>
            </section>
        </section>
        <a asp-page="/TransferMoney" asp-route-customerId="@Model.customer.Id">
            <div class="make-transaction">
                <span class="material-icons-sharp">
                    add
                </span>
                <h3>Make Transaction</h3>
            </div>
        </a>
    </aside>
</main>
